{% extends "admin/base.html" %}
{% load static %}
{% block title %}
Admin | View Alumini Students
{% endblock title %}
{% block body %}

<div class="card mb-3" style="max-width: 540px; margin: auto;">
    <div class="row g-0">
        <div class="col-md-4">
            {% for i in alumini_details %}
            <img src="{{ i.STUDENT.image.url }}" class="img-fluid rounded-start" alt="Student Image" style="height: 100%; object-fit: cover;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ i.STUDENT.name }}</h5>
                <p class="card-text"><strong>Admission Number:</strong> {{ i.STUDENT.admission_number }}</p>
                <p class="card-text"><strong>Course:</strong> {{ i.COURSE.course_name }}</p>
                <p class="card-text"><strong>Year:</strong> {{ i.STUDENT.year }}</p>
                <p class="card-text"><strong>Date of Birth:</strong> {{ i.STUDENT.dob }}</p>
                <p class="card-text"><strong>Age:</strong> {{ i.STUDENT.age }}</p>
                <p class="card-text"><strong>Address:</strong> {{ i.STUDENT.address }}</p>
                <p class="card-text"><strong>Phone Number:</strong> <a href="tel:{{ i.STUDENT.number }}">{{ i.STUDENT.number }}</a></p>
                <p class="card-text"><strong>Parent's Phone Number:</strong> <a href="tel:{{ i.parent_phone_number }}">{{ i.STUDENT.parent_phone_number }}</a></p>
                <p class="card-text"><small class="text-muted"><strong>Date of Joining:</strong> {{ i.STUDENT.date_of_joining }}</small></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock body %}