{% extends "warden/base.html" %}

{% block title %}Change Password and Username{% endblock %}

{% block body %}
<div class="container">
    <h2>Change Password and Username</h2>
    <form method="post" action="{% url 'warden_change_password' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">New Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group position-relative">
            <label for="current_password">Current Password:</label>
            <input type="password" class="form-control" id="current_password" name="current_password" required>
            <i style="margin-top: 16px;" class="fas fa-eye" id="toggleCurrentPassword" onclick="togglePasswordVisibility('current_password', 'toggleCurrentPassword')"></i>
        </div>
        <div class="form-group position-relative">
            <label for="new_password">New Password:</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
            <i style="margin-top: 16px;" class="fas fa-eye" id="toggleNewPassword" onclick="togglePasswordVisibility('new_password', 'toggleNewPassword')"></i>
        </div>
        <div class="form-group position-relative">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            <i style="margin-top: 16px;" class="fas fa-eye" id="toggleConfirmPassword" onclick="togglePasswordVisibility('confirm_password', 'toggleConfirmPassword')"></i>
        </div>
        <button type="submit" class="btn btn-primary">Change</button>
    </form>
</div>

<script>
    function togglePasswordVisibility(inputId, iconId) {
        const passwordInput = document.getElementById(inputId);
        const eyeIcon = document.getElementById(iconId);
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.classList.remove('fa-eye');
            eyeIcon.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = "password";
            eyeIcon.classList.remove('fa-eye-slash');
            eyeIcon.classList.add('fa-eye');
        }
    }
</script>

<style>
    .position-relative {
        position: relative;
    }
    
    .position-relative .form-control {
        padding-right: 30px; /* Add padding to avoid text overlapping with the icon */
    }
    
    .position-relative .fas {
        position: absolute;
        top: 50%;
        right: 10px; /* Adjust as needed */
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>
{% endblock %}